<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Live Music</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>live_music</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>deep-link-service.vercel.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>live-music</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.979330270552-h93a12ge11unhb67piu208ntk2johulg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>979330270552-h93a12ge11unhb67piu208ntk2johulg.apps.googleusercontent.com</string>
	<key>GMSApiKey</key>
	<string>AIzaSyCYbig2C_P7jIU572lgl4xY5EZatQxoiTg</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta app necesita acceso a tu ubicación incluso cuando no la estás usando activamente.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Esta app necesita acceso a tu ubicación en segundo plano para mejorar la experiencia.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta app necesita tu ubicación para mostrar contenido relevante.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta app necesita acceso a tu biblioteca de fotos para [explica aquí para qué necesitas este acceso]</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:deep-link-service.vercel.app</string>
	</array>
</dict>
</plist>
